body {
    font-family:'Josefin Sans', sans-serif;
    background:linear-gradient(to top, rgba(0,0,0,.6), rgba(0,0,0,.5)), url('../images/1.jpg') center no-repeat;
    background-size:cover;
    margin: 0;
    padding: 0;
  }
  
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 20%;
    margin: 0 auto;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    background: #dddddd;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .titulardo {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3.5rem;
    font-weight: 300;
    letter-spacing: .2rem;
    color: white;
    text-align: center;
  }